# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Ghostfolio systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ ghostfolio_identifier }}.service"
  register: ghostfolio_service_stat

- name: Uninstall Ghostfolio systemd services and files
  when: ghostfolio_service_stat.stat.exists | bool
  block:
    - name: Ensure Ghostfolio systemd service is stopped
      ansible.builtin.service:
        name: "{{ ghostfolio_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Ghostfolio systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ ghostfolio_identifier }}.service"
        state: absent

    - name: Ensure Ghostfolio container network does not exist
      when: ghostfolio_container_network_deletion_enabled
      block:
        - name: Ensure Ghostfolio container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ ghostfolio_container_network }}"
            state: absent
          register: ghostfolio_network_deletion_result

        - name: Ensure Ghostfolio container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ ghostfolio_container_network }}
          register: ghostfolio_network_deletion_result
          changed_when: ghostfolio_container_network in ghostfolio_network_deletion_result.stdout

    - name: Ensure Ghostfolio path does not exist
      ansible.builtin.file:
        path: "{{ ghostfolio_base_path }}"
        state: absent
